
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <th>房源ID</th>
                <th>房源名称</th>
                <th>图片路径</th>
                <th>房源价格    </th>
                <th>居室户型</th>
                <th>面积</th>
                <th>朝向</th>
                <th>房源风格</th>
                <th>地址</th>
                <th>出租类型</th>
                <th>楼层</th>
                <th>总楼层</th>
                <th>楼房类型</th>
                <th>房屋设施</th>
                <th>租房开始日期</th>
                <th>租房结束日期</th>
                <th>房源所属人</th>
                <th>房源所属人电话</th>
                <th>房源所属人微信</th>
                <th>租金</th>
                <th>租房付款方式</th>
                <th>是否启用</th>
                <th>操作</th>
            </tr>
        </table>
    </div>
</body>
</html>
